<% @lists.each do |list| %>
  <div class="card p-5">
    <%= link_to list.name, list_path(list) %>
    <%= cl_image_tag list.photo.key, height: 50, width: 50, crop: :fill %>
  </div>

<% end %>

<%= link_to "Create List", new_list_path, class: "btn btn-primary" %>
